*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: rgb(149, 198, 149); */
    background-image: url('minerals-bg.jpg');
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#panel{
    height: 92%;
    width: 92%;
    /* background-color: white; */
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.047);
    backdrop-filter: blur(8px);
    box-shadow: 7px 7px 10px rgb(108, 100, 100);
}

#top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding: 5px 2px;
    margin: 1px 15px;
    /* background-color: rgb(95, 158, 95); */
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 28px;
    color: aqua;
    border-bottom: 3px solid black;
}

#btm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px 25px;
}

#info{
    margin: 10px;
    padding: 4px;
    font-size: 20px;
    color: rgb(162, 157, 157);
}

p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 7px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

img{
    height: 350px;
    width: 600px;
    border-radius: 18px;
}

label{
    margin: 5px 15px;
    padding: 9px 18px;
    color: black;
    background-color: aqua;
    border-radius: 18px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
}
label:hover{
    cursor: pointer;
    background-color: black;
    color: aqua;
}

#upload{
    margin: 6px;
    padding: 8px 18px;
    color: aqua;
    background-color: black;
    border: 2px solid aqua;
    border-radius: 18px;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 15px;
}

#upload:hover{
    cursor: pointer;
    background-color: aqua;
    border: 2px solid black;
    color: black;
}

#preview{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: aqua;
    font-weight: 700;
    font-size: 18px;
}